*{
    padding: 0;
    margin: 0;
}

.Main{
    background-image: url(/ImagePage1/header.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.Header{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.Header ul{
    display: flex;
    gap: 35px;
    list-style: none;
    color: rgb(150, 146, 146);
    font-size: 1.4em;
}
.Header li span{
    color: blueviolet;
 }

 .Header h1{
    color: white;
    font-size: 1.8em;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

 .Header h1 span{
    color: blueviolet;
 }

  a{
    color: lightgray;
    text-decoration: none;
 }

 
.bottom #btn_left{
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    border: 2px solid blueviolet;
    background-color: transparent;
}

.bottom #btn_right{
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    border: 2px solid blueviolet;
    /* background-color: transparent; */
    background-color: blueviolet;
}

/* Section Two */

.hero_Content{
    display: flex;
}


.hero_Content .left{
    width: 35%;
    padding-left: 10%;
    padding-top: 10%;
   
}

.hero_Content h1{
color: white;
/* font-size: 2.8em; */
padding-right: 200px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: 900px;

}

.hero_Content span{
    color: blueviolet;
}

.hero_Content p{
color: white;
font-size: 1em;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-style: normal;
padding-top: 20px;
line-height:  1.8em;
}

.hero_Content .bottom2{
padding-top: 50px;
gap: 10%;

}

.bottom2 #right{
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border: 2px solid blueviolet;
    background-color: transparent;

}

.bottom2 #left{
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border: 2px solid blueviolet;
    background-color: transparent;
    background-color: blueviolet;
 
}

 .hero_Content .right{
    display: flex;
    width: 30%;
    padding-left: 10%;
    padding-top: 10%;
    gap: 25px;
 }

.border{
    height: 410px;
    background-color: blueviolet;
    border-radius: 130px 130px 0 0;
    padding-top: 10px;
    padding-left: 10px;
}

.logo{
    background-color: #D0D0D0;
    margin-top: 90px;
}

.slide-Show .logo{
    display: flex;
    justify-content: space-between;
    /* gap: 5px; */
    
}

.About{
display: flex;
justify-content: center;
padding-top: 100px;
gap: 25%;
}
.About h1{
    font-size: 3em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700px;
}
.About p{

    font-weight: 600px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3em;
}

.About span{
    color: blueviolet;
}

.bandhigid {
    display: flex;
    justify-content: center;
    padding-top: 70px;

}

.bandhigid .sawir_left{
    width: 250px;
    padding-right: 30%;
}



.Meet{
background-image: url(/ImagePage1/header.png);
background-size: cover;
background-repeat: no-repeat;
border-radius: 10px;
width: 100%;
height: 550px;
margin-top:  80px;
margin-bottom: 30px;



}

.Meet .pragpraph{
    display: flex;
    justify-content: space-around;
}

.pragpraph h1{
    color: white;
    /* font-size: 3em; */
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300px;
    padding-top: 20px;
}

.pragpraph button{
    color: white;
    padding: 12px 50px;
    border-radius: 5px;
    background-color: blueviolet;
    margin-top: 30px;
      /* background-color: transparent; */
     /* border: 2px solid blueviolet; */
    
}


.Boxs{
display: flex;
gap: 80px;
justify-content: center;
margin-top: 40px;


}

.box img{
    width: 220px;
    height: 180px;
  
}

.box{
width: 220px;
height:260px;
margin-left: 20px;
margin-top: 80px;
border-radius: 12px;
background-color: #ffffff;
    
}

.box h1{
    color: black;
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100px;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
}

.box p{
    color: black;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200px;
    text-align: left;
    padding-top: 8px;
    padding-left: 10px;
}

/* section Six */

.watch{
display: flex;
justify-content: center;
/* justify-content: space-evenly; */
gap: 20%;
margin-top: 5%;

}

.watch .right{
    margin-top: 10%;
    
}

.watch .left{
position: relative;

}
.watch .right h1{
    font-size: 3em;
}
.watch .right p{
    padding-top: 25px;
}

.watch .left #img72{
    width: 200px;
    margin: 20px 20px;
}

.watch .left #img73{
    width: 250px;
    margin-left: 20px;
}

.watch .left #img71{
    width: 200px;
    margin-left: 20px;
    margin-bottom: 45px;
}


.baground{
    background-color: white;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    position: absolute;
    margin-bottom: 30px;
    margin-left: 150px;
    margin-top: 160px;
    border: 0.1em solid blueviolet;
}
/* .baground .Bord{



} */

.Bord{

    /* text-align: center; */
    color: blueviolet;
    margin-top: 30px;
    border: 0.9em solid blueviolet;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    margin-top: 10px;
    margin-left: 10px;
    align-content: center;

}

.Bord i{
    font-size: 1.5em;
    margin-top: 10px;
    text-align: center;
    margin-left: 50px;
}

.Bord h1{
    font-size: 1.8em;
    text-align: center;
    margin-top: 10px;
}

.love_Event{
    display: flex;
    justify-content: center;
    gap: 280px;
    width: 100%;
    height: 200px;
    background-color: blueviolet;
    margin-top: 10%;
}

.img_love img{

    height: 200px;
   align-items: center;

}

.love_right{
    text-align: center;
    margin-top: 30px;
}

.love_right h1{
    color: white;
    font-size: 2em;
    font-weight: 400px;
}

.love_right p{

    margin-top: 10px;
    color: white;
}

.Event #bottom3{
    width: 10%;
    height: 50px;
    background-color: #4C43DE;
    border: 2em solid blueviolet;
    margin-top: 10px;
    border-radius: 20px;
}

.iris .irise_Logo{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;

}

.footer{
    background-image: url(/ImagePage1/header.png);
    width: 100%;
    height: 615px;
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
}

.footer .Up{
  text-align: center;
  color: white;
    padding-top: 90px;
   
}

.Up h1{
    font-size: 2.5em;
    font-weight: 600px;
    color: white;
}

.Up p{
    font-size: 1em;
    padding-top: 10px;
    font-family: 'Times New Roman'f;
}

.bottom4{
    display: flex;
    margin-left: 40%;
    margin-top: 50px;
    gap: 20px;
}

.bottom4 input{
    width: 280px;
    height: 40px;
    border-radius: 7px;
    padding-left: 10px;
    border:  0.2em solid blueviolet;
    border: none;
}

.bottom4 button{
    width: 100px;
    height: 40px;
    background-color: blueviolet;
    color: white;
    border-radius: 7px;
    border: none;
}

.footer_Bar{
    display: flex;
    justify-content: space-evenly;
    padding-top: 10%;
}
.Cons i{
    color: white;
    gap: 50px;
    color: blueviolet;
    font-size: 2em;

   
}

.footer_Bar ul{
    display: flex;
    gap: 35px;
    list-style: none;
    color: rgb(150, 146, 146);
    font-size: 1.4em;
}
.footer_Bar li span{
    color: blueviolet;
 }

 .footer_Bar h1{
    color: white;
    font-size: 1.8em;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

 .footer_Bar h1 span{
    color: blueviolet;
}

.footer hr{
    margin-left: 14%;
    width: 72%;
    margin-top: 30px;
}

.Copy{
    display: flex;
    justify-content: space-around;
    color: white;
    margin-top: 30px;
    font-family: 'Arial';
}
.Copy #goni{
    display: flex;
    gap: 30px;
    
}

/* Page Two */

/* Event List */
.header{
    display: flex;
    background-color: #9C1EE9;
    color: #D0D0D0;
    width: 100%;
    height: 95px;
    justify-content: space-around;
    align-items: center;
}

.Menu ul{
    display:flex;
    gap: 26px;
    font-size: 2em;
    font-family: 'vardana';
    list-style: none;
}

.header h1 span{
   color: black;

}
.header h1{
    font-size: 2em;
    font-family: 'vardana';
}

.bottom5 #btnLogin{
        color: #D0D0D0;
        padding: 5px 15px;
        border-radius: 5px;
        border: 2px solid #D0D0D0;
        background-color: transparent;
    }
    
    .bottom5 #btnSignUp{
        color: #9C1EE9;
        padding: 5px 15px;
        border-radius: 5px;
        border: 2px solid #D0D0D0;
        /* background-color: transparent; */
        background-color: #D0D0D0;
    }
    .header li span{
        color: black;
    }

    .hero{
    background-image: url(/ImagePage1/a4354b87b6710130ea59972c70c8bded\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 740px;
    }

    .main_box .boxes{
        width: 290px;
        height: 450px;
        background-color: white;
        color: black;
        border-radius: 27px;
        margin-bottom: 5%;
        border: #9C1EE9 0.1em solid;
    }

    .main_box{
        display: grid;
        grid-template-columns: repeat(4, 0fr);
        gap: 20px;
        justify-content: center;
        margin-top: 80px;
    }
    .boxes img{
        width: 290px;
        height: 200px;
        border-radius: 25px 25px 0 0;
    }
    .boxes h2{
        padding-top: 30px;
        padding-left: 10px;
        font-size: 1.3em;
    }

    .boxes h2 span{
        color: #9C1EE9;
    }

    .boxes i{
        padding-left: 10px;
    }

    .boxes h1{
        padding-left: 10px;
        padding-top: 10px;
        font-size: 1.5em;
    }


    .footer2{
        background-image: url(/ImagePage1/header.png);
        width: 100%;
        height: 615px;
        /* background-position: center; */
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 10%;
    }
    
    .footer2 .Up{
      text-align: center;
      color: white;
        padding-top: 90px;
       
    }

    .footer_Bar2{
        display: flex;
        justify-content: space-evenly;
        padding-top: 10%;
    }
    .Cons i{
        color: white;
        gap: 50px;
        color: blueviolet;
        font-size: 2em;  
    }
    
    .footer_Bar2 ul{
        display: flex;
        gap: 35px;
        list-style: none;
        color: rgb(150, 146, 146);
        font-size: 1.4em;
    }
    .footer_Bar2 li span{
        color: blueviolet;
     }
    
     .footer_Bar2 h1{
        color: white;
        font-size: 1.8em;
        font-weight: 900;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
     }
    
     .footer_Bar2 h1 span{
        color: blueviolet;
    }
    
    .footer2 hr{
        margin-left: 14%;
        width: 72%;
        margin-top: 30px;
    }
    
    .footer2 .Copy{
        display: flex;
        justify-content: space-around;
        color: white;
        margin-top: 30px;
        font-family: 'Arial';
    }
    .Copy #goni{
        display: flex;
        gap: 30px;
        
    }

        /* Speakers Setion */
        
    .header{
        display: flex;
        background-color: #9C1EE9;
        color: #D0D0D0;
        width: 100%;
        height: 95px;
        justify-content: space-around;
        align-items: center;
    }
    
    .Menu2 ul{
        display:flex;
        gap: 26px;
        font-size: 2em;
        font-family: 'vardana';
        list-style: none;
    }
    
    .header h1 span{
       color: black;
    
    }
    .header h1{
        font-size: 2em;
        font-family: 'vardana';
    }
    
    .bottom6 #btnLogin{
            color: #D0D0D0;
            padding: 5px 15px;
            border-radius: 5px;
            border: 2px solid #D0D0D0;
            background-color: transparent;
        }
        
        .bottom6 #btnSignUp{
            color: #9C1EE9;
            padding: 5px 15px;
            border-radius: 5px;
            border: 2px solid #D0D0D0;
            /* background-color: transparent; */
            background-color: #D0D0D0;
        }
    .header li span{
            color: black;
        }
    
        .hero2{
        background-image: url(/ImagePage1/squarespace_speakerhub\ \(1\)\ copy\ 1.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        /* height: 740px; */
        height: 1352px;
        
        }

        .qeebta_Kowad{
            display: flex;
            
        }

        .qeebta_Kowad img{
            margin-top: 70px;
            width: 25%;
            height: 404px;
            margin-left: 90px;
        }

        .qeebta_Kowad h1{
            margin-top: 90px;
            padding-left: 50px;
            font-size: 3em;
            line-height: 1.5em;

        }



        .qeebta_Dhexe{
            display: flex;
            
        }

        .qeebta_Dhexe img{
            margin-top: 70px;
            width: 25%;
            margin-left: 35%;
        }

        .qeebta_Dhexe h1{
            margin-top: 90px;
            padding-left: 50px;
            font-size: 3em;
            line-height: 1.5em;

        }


        .qeebta_Hoose{
            display: flex;
            
        }

        .qeebta_Hoose img{
            margin-top: 70px;
            width: 25%;
            margin-left: 90px;
        }

        .qeebta_Hoose h1{
            margin-top: 90px;
            padding-left: 50px;
            font-size: 3em;
            line-height: 1.5em;

        }
        .Speakers h1{
            padding-top: 120px;
            padding-left: 45%;
        }
        
        .Speakers span{
            color:#9C1EE9;
        }

        .qof1{
            background-color: #C3C3C3;
            /* width: 20%; */
            /* height: 330px; */
            width: 290px;
            height: 296px;
            margin-top: 250px;
            margin-left: 60px;
            border-radius: 10px;
        }

        .qof1 img{
         margin-left: 90px;
         margin-top: 30px;
        }

       






    /* responsive */
        /* .header ul{
            display:  none;
        } */

    /* Mobile View */

@media (max-width: 390px){

    .header{
        padding: 12px 30px;
    }
     .header{
        padding: 0;
     }
     .Header ul{
        display: none;
     };
   
    
    .header i{
    
    display: flex;
    display: block;
    font-size: 2.6em;
    padding-top: 30px;
    padding-top: 100px;
    color: lightgrey;
    }
    
    
    }


 